* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: blue;
  color: white;
  height: 10vh;
  min-height: 7rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.logo {
  font-family: "Faster One", cursive;
  font-size: 3rem;
  letter-spacing: -0.7rem;
  color: rgb(218, 218, 27);
}

.header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.header ul li {
  margin-left: 1rem;
  cursor: pointer;
}

.header ul li:hover {
  transform: translateY(-0.2rem);
}

.page {
  height: 90vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-page-home {
  height: 80%;
  width: 80%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem 5rem;
  align-items: center;
  max-width: 45rem;
}

.photo-home {
  width: 100%;
  border-radius: 50%;
}

.order-button {
  height: 6%;
  width: 40%;
}
