* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: blue;
  color: white;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.header ul li {
  margin-left: 1rem;
  cursor: pointer;
}

.header ul li:hover {
  transform: translateY(-0.2rem);
}
